<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>index3</title>
    <style type="text/css" media="screen">
    	div{
    		font-size: 24px;
    		height: 100px;
    		/*width: 33%;*/
    		text-align: center;
    		line-height: 100px;
    		color: #ffffff;
    	}
    </style>
</head>

<body>
    <div style="float: left;background: red;width: 20%">left</div>
    <div style="float:left;background: blue;width: 60%">contain</div>
    <div style="float:right; background: orange;width: 20%">right</div>
    <div style="clear: both;">
    	
    </div>
</body>

</html>
